name: Documentation
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: doc-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.50.2 }
      - name: build documentation
        run: |
          pixi run doc
          cd doc
          mv generated/html generated/html_
          mkdir generated/html
          mv generated/html_ generated/html/unitpackage
          touch generated/html/unitpackage/.nojekyll
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: doc/generated/html/unitpackage
          target-folder: docs
          single-commit: true
        if: ${{ github.event_name == 'push' }}
      - name: detect broken links
        shell: pixi run -e doc bash -e {0}
        run: pixi run linkcheck
