name: Lint
on:
  push: { branches: [ "main" ] }
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  python-linter:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with: { submodules: recursive }
      - name: setup conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
      - name: install dependencies
        shell: bash -l {0}
        run: |
          mamba env update --quiet -n test -f environment.yml
          conda list
      - name: pylint
        shell: bash -l {0}
        run: |
          pylint unitpackage
      - name: black
        shell: bash -l {0}
        run: |
          black --check --diff unitpackage
      - name: isort
        shell: bash -l {0}
        run: |
          isort --check --diff --profile black unitpackage
