name: Test
on:
  push: { branches: [ "main" ] }
  pull_request: { branches: [ "main" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        environment: ["python-39", "python-310", "python-311", "python-312"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        remote-data: [""]
        include:
        - os: "ubuntu-latest"
          python: "python-311"
          # This leg of the tests runs doctests against the data that is
          # currently available on echemdb.org. This test might fail
          # when substantial changes have been introduced
          # with this run that have not been published on echemdb.org yet.
          remote-data: 'remote'
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.28.2
      - name: doctest
        run: |
          pixi run -e ${{ matrix.environment }} ${{ matrix.remote-data == 'remote' && 'doctest-remote' || 'doctest' }}
